@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');
/* start basic rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    transition: all .2s ease-in-out;
}
:root {
    --primary-clr: #ffa500;
    --white-clr: #ffffff;
    --heading-clr: #333333;
    --text-clr: #666666;
}
::selection {
    background-color: var(--primary-clr);
    color: var(--white-clr);
}
body {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-width: 576px) {
    .container {
        width: 540px;
    }
}
@media screen and (min-width: 768px) {
    .container {
        width: 720px;
    }
}
@media screen and (min-width: 992px) {
    .container {
        width: 960px;
    }
}
@media screen and (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
p {
    line-height: 1.7;
    color: var(--text-clr);
}
.heading {
    text-align: center;
    padding-bottom: 4rem;
}
.heading span {
    padding: .2rem .8rem;
    font-size: 2rem;
    background-color: rgba(255, 165, 0,.2);
    border-radius: .25rem;
    color: var(--primary-clr);
}
.heading span.space {
    padding: 0.2rem 0.5rem;
    background-color: transparent;
}
.btn {
    display: block;
    width: fit-content;
    padding: 0.5rem 1.5rem;
    background: var(--primary-clr);
    border: 1px solid transparent;
    color: var(--white-clr);
}
.btn:hover {
    background-color: rgba(255, 165, 0,.2);
    color: var(--primary-clr);
    border-color: var(--primary-clr);
}
/* end basic rules */